.ItemListContainer {
    margin-left: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}


h3{
    color: rgb(34, 198, 75);
}

.fondo{  
    background-image: url(https://img.freepik.com/vector-premium/fondo-abstracto-degradado-destellos_121461-497.jpg?w=826);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}