.card{
    
    margin: 27px ;
    margin-bottom: 20px;
    border: 3px solid white;
    box-shadow: inset 0 0 7px rgb(42, 17, 236),inset 0 0 10px rgb(42, 17, 236), 0 0 10px rgb(42, 17, 236), 0 0 13px rgb(42, 17, 236);
    border-radius: 10px;
    margin-top: 25px;;
    margin-bottom: 25px;
  
    padding: 5px;
    text-align: center;
}

.img{
    width: 100%;
    display: block;
}
.header{
    text-align: center;
}

