.NavBar {
  width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
   
  }
  nav{
    background-color: black;
    font-family: monospace;
    
   
}
.Categories {
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }
  .btn{
    
    margin: 10px
  }
  
  .navb{
    width: 100%;
  }