#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-size: calc(10px + 2vmin);
}


h4{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(0, 0, 0);
  background-image: url(https://img.freepik.com/vector-premium/fondo-abstracto-degradado-destellos_121461-497.jpg?w=826);
}



